@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.quadrado {
    width: 250px;
    height: 250px;
    background-color: #c53b3b;
    margin: 200px        ;
}

.quadrado-azul {
    background-color: #721212;
}

#quadrado3 {
    border: 5px dotted  #fff;
    margin: 270px 200px;
}